.summary {
  background: var(--header-background-color);
  color: var(--font-color);
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  border: 2px var(--main-font-color) solid;
  justify-self: end;
  min-height: 10%;
  position: fixed; 
  bottom: 0;
  width: 100%; 
  box-sizing: border-box; 
}

.h3 {
  padding: 0;
  margin: 0;
}

.selectedDish {
  background-color: var(--menu-color);
  border-radius: 50px;
  color: var(--font-color);
  padding: 0 10px;
  width: auto;
  border: 2px var(--main-font-color) solid;
}

.dishesBlock {
  display: flex;
  gap: 10px;
  margin: 10px 0;

}

.plus {
font-size: large;
font-weight: 900;
}

.bonAppetit {
  color: var(--font-color);
  align-self: center;
  padding-bottom: 40px;
  font-weight: 900;
}
