.addMenu {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  gap: 20px;
  background-color: inherit;
  color: var(--font-color);
}

.addMenuForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

.modaleCardComponent {
  z-index: 4;
}

.newDishInput {
  background-color: var(--font-color);
  padding: 10px 50px 10px 15px;
  border: 2px solid var(--main-font-color);
  border-radius: 20px;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--main-font-color);
  width: 70%;
}

.newDishInput:focus {
  border: 2px solid var(--main-accent-color);
  outline: 2px solid var(--main-accent-color);
}

