.dishes {
  background-color: var(--menu-color);
  padding: 20px 20px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 2px var(--main-font-color) solid;
  border-radius: 20px;
  box-shadow: var(--main-font-color) 2px 2px 15px;

  &__desktop {
    width: 40%;
  }

  &__tablet {
    width: 60%;
  }

  &__mobile {
    width: 80%;
  }
}

.dishes:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.dropdownWrapper {
  position: relative;
}

.dropdown {
  background-color: var(--font-color);
  padding: 10px 50px 10px 15px;
  border: 2px solid var(--main-font-color);
  border-radius: 20px;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--main-font-color);
  width: 100%;
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 25px;
  height: 25px;
  background-image: url(../../../public/images/icons/icon-arrow.png);
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: transform 0.5s ease;
}

.arrowIcon.open {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown:focus {
  border: 2px solid var(--main-accent-color);
  outline: 2px solid var(--main-accent-color);
}
