.main {
    display: flex;
    flex-direction: column;
    background-color: var(--menu-color);

    &__desktop {
        gap: 20px;
        padding: 30px 70px;
        margin: 20px 140px;
    }

    &__tablet {
        gap: 15px;
        padding: 20px 50px;
        margin: 15px 100px;
    }

    &__mobile {
        gap: 10px;
        padding: 20px 10px;
        margin: 10px 30px;
    }
}

.pageTitle {
    text-transform: uppercase;
    font-size: clamp(1rem, 0.901rem + 0.526vw, 1.375rem);
    color: var(--font-color)
}

.text {
    font-size: clamp(0.75rem, 0.701rem + 0.263vw, 0.938rem);
    color: var(--font-color)
}