.header {
  background: var(--header-background-color);
  display: flex;
  flex-direction: column;
  color: var(--main-font-color);
  align-items: center;
  border: 2px var(--main-font-color) solid;

  &__desktop {
    padding: 40px 60px;
  }

  &__tablet {
    padding: 30px 50px;
  }

  &__mobile {
    padding: 10px 50px;
  }
}

.mainTitle {
  text-transform: uppercase;
  font-size: clamp(1.625rem, 1.23rem + 2.105vw, 3.125rem);
  color: var(--font-color);

  &__desktop {
    font-weight: 900;
  }

  &__tablet {
    font-weight: 800;
  }

  &__mobile {
    font-weight: 700;
  }
}

.subTitle {
  font-style: italic;
  color: var(--main-accent-color);
  padding-left: 30%;
  font-size: clamp(0.625rem, 0.461rem + 0.877vw, 1.25rem);
}
